@import '../base/color';


.slides {
  display: block;
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 9;

  .first {
    background-color: color(primary-lighter);
    display: block;
    height: 200vh;
    position: absolute;
    transform: translateX(10%) translateY(40%) rotate(45deg) translate3d(0, 0, 0);
    transition: transform 1s cubic-bezier(.19, 1, .22, 1);
    width: 200vh;

    &.active {
      transform: translateX(-20%) translateY(-10%) rotate(45deg) translate3d(0, 0, 0);
    }

    &.out {
      transform: translateX(-90%) translateY(-100%) rotate(45deg) translate3d(0, 0, 0);
      transition: transform 1s .4s cubic-bezier(.19, 1, .22, 1);
    }
  }

  .second {
    background-color: color(primary);
    display: block;
    height: 200vh;
    position: absolute;
    transform: translateX(10%) translateY(40%) rotate(45deg) translate3d(0, 0, 0);
    transition: transform 1s .3s cubic-bezier(.19, 1, .22, 1);
    width: 200vh;

    &.active {
      transform: translateX(-20%) translateY(-10%) rotate(45deg) translate3d(0, 0, 0);
    }

    &.out {
      transform: translateX(-90%) translateY(-100%) rotate(45deg) translate3d(0, 0, 0);
      transition: transform 1s .4s cubic-bezier(.19, 1, .22, 1);
    }
  }
}
