{
  "presets": [
    "@babel/preset-env",
    "@babel/react",
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ],
  "sourceMap": "inline",
  "env": {
    "testing": {
      "sourceMap": "inline"
    },
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
