@import '../base/color';
$back-button-size: 44px;
$back-button-icon-size: 10px;

.back-button {
  align-items: center;
  background-color: color(primary);
  border: 0;
  cursor: pointer;
  display: flex;
  height: $back-button-size;
  justify-content: center;
  opacity: 1;
  position: fixed;
  width: $back-button-size;
  z-index: 2;


  &__icon {
    border-bottom: 0;
    border-left: 2px solid color(invert);
    border-right: 0;
    border-top: 2px solid color(invert);
    display: block;
    height: $back-button-icon-size;
    left: 40%;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: rotate(-45deg);
    width: $back-button-icon-size;
  }
}

