
@import '../base/color';

.menu {
  background-color: color(menu);
  color: color(invert);
  display: flex;
  position: relative;
  text-align: center;
  text-transform: lowercase;
  width: 180px;

  &.show {
    box-shadow: 6px -1px 20px 4px color(shadow);
  }

  button {
    align-self: center;
    background-color: inherit;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 10px;
    width: 100%;
  }
}
