.pagination {
  background-color: #191717;
  bottom: 0;
  box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, .75);
  display: flex;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;

  &__content {
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
  }
}

.link {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  transition: background-color .2s;
  width: auto;
  z-index: 1;

  &--active {
    background-color: #bd1023;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .75);
    z-index: 2;
  }
}

.prev {
  border-bottom: 0;
  border-left: 2px solid #fff;
  border-right: 0;
  border-top: 2px solid #fff;
  display: block;
  height: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}

.next {
  border-bottom: 2px  solid #fff;
  border-left: 0;
  border-right: 2px  solid #fff;
  border-top: 0;
  display: block;
  height: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}
