@import '../base/color';
@import '../base/easing';

.search {
  box-shadow: 0 2px 20px 0 color(shadow);
  position: fixed;
  top: 0;
  transform: translateY(0) translate3d(0, 0, 0);
  transition: transform .3s easing(easeOutExpo);
  width: 100%;
  z-index: 7;

  .search-wrapper {
    position: relative;
    width: 100%;
  }

  &.display {
    transform: translateY(100%) translate3d(0, 0, 0);
    transition: transform .3s easing(easeOutExpo);
  }

  form {
    display: flex;
    width: 100%;
  }

  .close-icon {
    background-color: color(secondary);
    cursor: pointer;
    padding: 13px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(48px) translate3d(0, 0, 0);
    transition: transform .3s easing(easeOutExpo);
    width: 48px;

    &.show {
      transform: translateX(0) translate3d(0, 0, 0);
    }
  }

  input {
    border: 0;
    padding: 15px;
    width: 100%;
  }
}
