.search {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  transform: translateY(0);
  transition: transform .3s cubic-bezier(.165, .84, .44, 1);
  width: 100vw;
  z-index: 2;

  &.display {
    transform: translateY(100%);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1);
  }

  form {
    display: flex;
    width: 100%;
  }

  .close-icon {
    background-color: #333;
    cursor: pointer;
    left: 100vw;
    padding: 13px;
    position: absolute;
    top: 0;
    transform: translateX(100vw);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1);
    width: 48px;

    &.show {
      transform: translateX(-43vw);
    }
  }

  input {
    border: 0;
    padding: 15px;
    width: 100%;
  }
}
