.search {
  margin-bottom: 15px;
  position: fixed;
  top: 50%;
  transform: translateY(-100%);
  width: calc(100% - 22px);
  z-index: 5;

  &.searched {
    transform: translateY(-48.5vh);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1);
  }

  &.searched::before {
    background: linear-gradient(to bottom, #1f1f1f 0%, rgb(0, 0, 0) 33%, transparent 100%);
    content: '';
    display: block;
    height: 120px;
    left: -10px;
    position: absolute;
    top: -20px;
    width: 100vw;
    z-index: -1;
  }

  form {
    display: flex;
    width: 100%;
  }

  input {
    border: 0;
    border-radius: 4px 0 0 4px;
    padding: 15px;
    width: 100%;
  }
}
