@import '../base/color';
@import '../base/easing';


.slides {
  display: block;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  z-index: 9;

  .first, .second {
    display: block;
    height: 200vh;
    position: absolute;
    transform: scaleY(0) translate3d(0, 0, 0);
    transform-origin: top;
    width: 200vh;

    &.active {
      transform: scaleY(1) translate3d(0, 0, 0);
    }

    &.out {
      transform: scaleY(0) translate3d(0, 0, 0);
      transform-origin: bottom;
      transition: transform 2s .5s easing(easeOutExpo);
    }
  }

  .first {
    background-color: color(primary-lighter);
    transition: transform 2s easing(easeOutExpo);
  }

  .second {
    background-color: color(primary);
    transition: transform 2s .5s easing(easeOutExpo);
  }
}
