.thumb {
  background-image: url('../images/missing.jpg');
  background-size: cover;
  border-radius: 4px;
  margin-bottom: 2.6vw;
  margin-right: 2.6vw;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transform: translateY(100px) ;
  transition: opacity .2s, transform .3s easing(easeOutExpo);
  width: 31.45%;

  &__file {
    float: left;
    opacity: 0;
    width: 100%;

    &.animate {
      opacity: 1;
    }
  }

  &__title {
    align-items: center;
    background-color: #3a3939;
    color: color(invert);
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    min-height: 80px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;

    &.show {
      opacity: 1;
      transition: opacity .2s .6s;
    }
  }

  &__mask {
    background-color: color(mask);
    display: block;
    height: 100%;
    position: absolute;
    transform: scaleY(0) translate3d(0, 0, 0);
    transform-origin: top;
    transition: transform .3s .1s easing(easeOutExpo);
    width: 100%;
    z-index: 1;

    &.animate {
      transform: scaleY(1) translate3d(0, 0, 0);
    }

    &.animate-out {
      transform: scaleY(0) translate3d(0, 0, 0);
      transform-origin: bottom;
    }
  }

  &.fetching {
    opacity: 0;
    transform: translateY(100px);
  }

  &.fetched {
    opacity: 1;
    transform: translateY(0);
  }

  &::before {
    background-image: linear-gradient(160deg, rgba(255, 255, 255, .15) 50%, transparent 50%);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  &:nth-child(3n + 0) {
    margin-right: 0;
  }
}
