@import '../base/color';
@import '../base/easing';

.about {
  background-color: color(invert);
  color: color(darkest);
  height: 100vh;
  padding: 0 20px;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0) translateY(100%) translate3d(0, 0, 0);
  transition: transform .25s easing(easeOutCirc);
  width: 100vw;
  z-index: 12;

  .close {
    cursor: pointer;
    display: inline-block;
    margin: 20px 0;
    position: relative;
  }

  .content {
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  &.animate {
    transform: translateY(0) translate3d(0, 0, 0);
  }

  .link {
    color: color(darkest);
    font-weight: bold;
  }

  .github {
    display: block;
    text-align: center;

    svg {
      height: 30px;
      width: 30px;
    }
  }
}
