@import '../base/color';

.about {
  background-color: color(invert);
  color: color(darkest);
  height: 100vh;
  padding: 0 30px;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0) translateY(100%);
  transition: transform .25s cubic-bezier(.075, .82, .165, 1);
  width: 100vw;
  z-index: 12;

  .close {
    display: block;
    margin: 20px 0;
    position: relative;
  }

  &.animate {
    transform: translateY(0) translate3d(0, 0, 0);
  }

  a {
    color: color(darkest);
    font-weight: bold;
  }

  .github {
    display: block;
    text-align: center;

    svg {
      height: 30px;
      width: 30px;
    }
  }
}
