@import '../base/color';

.detail {
  background-color: color(info);
  color: color(invert);
  height: 100vh;
  left: 0;
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;

  &__content {
    opacity: 0;
    position: absolute;
    will-change: opacity;

    &.active {
      opacity: 1;
    }
  }

  &__cover {
    display: block;
    position: fixed;
    width: 100vw;

    &--reflex {
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: inherit;

      &::before {
        background-image: linear-gradient(160deg, rgba(255, 255, 255, .15) 50%, transparent 50%);
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  &__infos {
    background-color: color(info);
    font-size: 16px;
    line-height: 1.3;
    position: absolute;
    transform: translateY(110vh) translate3d(0, 0, 0);
    width: 100vw;
  }

  .info {
    &__name {
      background-color: color(secondary);
      box-shadow: -2px 18px 20px 20px color(shadow);
      padding: 15px;

      &--comic {
        min-height: 20vh;
      }
    }

    &__series {
      background-color: color(series);
      color: color(secondary);
      padding: 15px 0;

      h2 {
        padding: 0 15px 10px;
      }

      li {
        padding: 5px 15px;

        &:nth-child(even) {
          background-color: color(series);
        }

        &:nth-child(odd) {
          background-color: color(series-secondary);
        }
      }
    }

    &__stories {
      background-color: color(info);
      padding: 15px 0;

      h2 {
        padding: 0 15px 10px;
      }

      li {
        padding: 5px 15px;

        &:nth-child(even) {
          background-color: color(stories);
        }

        &:nth-child(odd) {
          background-color: color(stories-secondary);
        }
      }
    }
  }

  img {
    background-color: color(secondary);
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
}


.disable-scroll {
  overflow: hidden;
}
