.detail {
  background-color: #4e4e4e;
  color: #fff;
  height: 100%;
  left: 0;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 6;

  &__content {
    opacity: 0;
    position: absolute;
    will-change: opacity;

    &.active {
      opacity: 1;
    }
  }

  &__cover {
    display: block;
    position: fixed;
    width: 100vw;

    &--reflex {
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: inherit;

      &::before {
        background-image: linear-gradient(160deg, rgba(255, 255, 255, .15) 50%, transparent 50%);
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  &__infos {
    background-color: #4e4e4e;
    font-size: 16px;
    line-height: 1.3;
    padding-bottom: 50px;
    position: absolute;
    transform: translateY(110vh) translate3d(0, 0, 0);
    width: 100vw;

    h2 {
      padding-bottom: 10px;
    }
  }

  .info {
    &__name {
      background-color: #333;
      box-shadow: -2px 18px 20px 20px #060606;
      padding: 15px;
    }

    &__series {
      background-color: #edeeef;
      color: #333;
      padding: 15px 0;

      h2 {
        padding: 0 15px 10px;
      }

      li {
        padding: 5px 15px;

        &:nth-child(even) {
          background-color: #edeeef;
        }

        &:nth-child(odd) {
          background-color: #dcdcdc;
        }
      }
    }

    &__stories {
      background-color: #4e4e4e;
      padding: 15px 0;

      h2 {
        padding: 0 15px 10px;
      }

      li {
        padding: 5px 15px;

        &:nth-child(even) {
          background-color: #676767;
        }

        &:nth-child(odd) {
          background-color: #565656;
        }
      }
    }
  }

  img {
    background-color: #b9b9b9;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
}


.disable-scroll {
  overflow: hidden;
}
