@import '../base/color';

.home {
  background: linear-gradient(to bottom, color(gradient-primary), color(gradient-secondary));
  min-height: 100vh;
  padding-bottom: 30px;

  form {
    button[type='submit'] {
      display: none;
    }
  }
}
