@font-face {
  font-family: 'font';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/font.woff') format('woff');
}

* {
  box-sizing: border-box;
}

input {
  font-family: inherit;
}

html {
  overflow-y: scroll;
}

body, html {
  background: linear-gradient(to bottom, #1f1f1f, #3a3a3a);
  font-family: 'font';
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, ul {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

