.detail {
  background-color: rgba(2, 2, 2, .89);
  color: #fff;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  img {
    background-color: #b9b9b9;
    left: 50%;
    position: absolute;
    top: 15px;
    transform: translateX(-50%);
    width: 94vw;
  }
}
