.detail {
  background-color: rgba(2, 2, 2, .89);
  color: #fff;
  height: 100vh;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;

  &__cover {
    display: block;
    position: relative;
    top: 15px;
    width: 100%;

    &--reflex {
      border-radius: 4px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 93%;

      &::before {
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .15) 50%, transparent 50%);
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  &__infos {
    background-color: #4e4e4e;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 30px;
    min-height: 50vh;
    width: 100%;

    h2 {
      padding-bottom: 10px;
    }
  }

  .info {
    &__name {
      background-color: #333;
      padding: 15px;
    }

    &__series {
      background-color: #edeeef;
      color: #333;
      padding: 15px 0;

      h2 {
        padding: 0 15px 10px;
      }

      li {
        padding: 5px 15px;

        &:nth-child(even) {
          background-color: #edeeef;
        }

        &:nth-child(odd) {
          background-color: #dcdcdc;
        }
      }
    }

    &__stories {
      background-color: #4e4e4e;
      padding: 15px 0;

      h2 {
        padding: 0 15px 10px;
      }

      li {
        padding: 5px 15px;

        &:nth-child(even) {
          background-color: #676767;
        }

        &:nth-child(odd) {
          background-color: #565656;
        }
      }
    }
  }

  img {
    background-color: #b9b9b9;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
}
