.home {
  background: linear-gradient(to bottom, #bf0017, #f95635);
  min-height: 100vh;
  padding: 15px 10px;
  padding-bottom: 30px;

  .link {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    text-decoration: none;
  }

  form {
    button {
      display: none;
    }
  }

  .pagination {
    background-color: #333;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
      background-color: #000;
      border-radius: 4px;
      margin-bottom: 10px;
      overflow: hidden;
      position: relative;
      width: 48%;
      transition: opacity .2s, transform .2s;
      transform: translateY(50px);
      opacity: 0;

      img {
        float: left;
        opacity: 1;
        width: 100%;
      }

        &.fetching {
          opacity: 0;
           transform: translateY(50px);
        }

        &.fetched {
          opacity: 1;
           transform: translateY(0);
        }       

      &::before {
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .15) 50%, transparent 50%);
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
            z-index: 1;
      }

      &:nth-child(2n + 1) {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .grid {
    max-width: 50%;
    transform: translateX(50%);
  }
}

